@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
body{
    background-color: lightblue;
}
main{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-rows: auto auto auto;
    /* grid-template-areas: 
        "titulo titulo titulo titulo"
        ". btns btns ."
        ". jugador computadora ."
    ; */
    grid-gap: 20px;
    align-content: flex-start;
}

#titulo{
    /* grid-area: titulo; */
    grid-column: 1 / 5;
    grid-row: 1;
    text-align: center;
    font-size: 4.5rem;
}
#btns{
    /* grid-area: btns; */
    grid-column: 1 / 5;
    grid-row: 2;
    text-align: center;
}
#btns > button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    margin: 0 20px;
    transition: 0.5s;
}#btns > button:hover{
    transform: scale(1.2);
}

#jugador{
    /* grid-area: jugador; */
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}
#computadora{
    /* grid-area: computadora; */
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.box{
    min-width: 300px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 10px;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3),
                10px 10px 20px rgba(0, 0, 0, 0.1),
                inset  -10px -10px 20px rgba(255, 255, 255, 0.3),
                inset  10px 10px 20px rgba(0, 0, 0, 0.1)  
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 2.5rem;
}
/* puntaje */
.box__score{
    font-size: 2.2rem;
    color: #333;
}
.box__jugada{
    font-size: 10rem;
}
/* clase del ganador */
.winner{
    opacity: 1;
}
/* clase del perdedor */
.loser{
    /* font-size: 10rem; */
    opacity: 50%;
}

@media (max-width: 900px){
    main{
        grid-gap: 20px;
        /* max-height: 200px; */
    }
    #titulo{
        font-size: 3rem;
    }
    #btns > button{
        font-size: 3.7rem;
        margin: 0 10px;
    }
    /* #jugador{
        grid-row: span 4;
    }
    #computadora{
        grid-row: span 2;
    } */
    .box{
        min-width: 130px;
        /* margin-bottom: 0px; */
        padding: 15px 10px;
    }
    h2{
        font-size: 1.2rem;
    }
    /* puntaje */
    .box__score{
        font-size: 1.2rem;
        color: #333;
    }
    .box__jugada{
        font-size: 5.5rem;
    }
}